@page "/login"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@using MWA.Services
@inject UserSessionService UserSessionService
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<h1>Log In</h1>


