@inherits LayoutComponentBase

<div class="top-navbar">
    <div class="navbar-brand">
        <button class="i" onclick="window.location.href='/'">My Weather App</button></div>
    <div class="navbar-menu">
        <NavMenu />
    </div>
</div>

<main class="main-content">
    <article class="content px-4">
        @Body
    </article>
</main>

