@using MWA.Services
@inject UserStateService UserSessionService
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="top-navbar">
    <div class="navbar-left">
        
    </div>
    <div class="navbar-right">
        <NavLink class="nav-link" href="weather">
            <i class="bi bi-cloud-sun-fill"></i> Weather
        </NavLink>
        <NavLink class="nav-link" href="dashboard">
            <i class="bi bi-globe"></i> Dashboard
        </NavLink>
        
            <NavLink class="nav-link" href="login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </NavLink>
            <NavLink class="nav-link" href="signup">
                <i class="bi bi-person-plus"></i> Sign Up
            </NavLink>
        
    </div>
</div>

@code {
    private async Task Logout()
    {
        await AuthService.Logout();
        UserSessionService.ClearUser();
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}