.top-navbar[b-dgra1kdm0i] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #ff6a00, #ee0979); /* orange to pink */
    color: white;
    padding: 0.75rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.i[b-dgra1kdm0i]{
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.navbar-brand[b-dgra1kdm0i] {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
}


.navbar-menu[b-dgra1kdm0i] {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main-content[b-dgra1kdm0i] {
    padding: 1rem;
}